* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Onboarding Styling */
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  h1{ 
    /* font-size: 100px; */
    padding-top: 700px;
  }
  
  .carousel-container {
    position: relative;
    width: 100%;
    justify-content: center;
    max-width: 1000px;
    height: 600px;
    overflow: hidden;
    /* border-radius: 15px; */
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
  }
  
  .carousel {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-image.active {
    display: block;
  }
  
  .carousel-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .carousel-controls button {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.3s ease;
  }
  
  .carousel-controls button:hover {
    background-color: rgba(0,0,0,0.7);
  }
  
  .onboard-nav {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .onboard-btn {
    padding: 12px 24px;
    background-color: rgb(1, 45, 41) ;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease;
  }
  
  .onboard-btn:hover {
    background-color: black;
  }